# Transformers for NLP models
transformers
transformers[sentencepiece]

# Datasets for handling data easily
datasets

# Evaluation metrics
sacrebleu
rouge-score

# Data handling and utility libraries
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib

# PyTorch (CPU + CUDA compatible)
torch

# Notebook support
notebook

# AWS (if needed)
boto3
mypy-boto3-s3

# Config/utility libraries
python-box>=6.0.2
ensure>=1.0.2

# Web API for FastAPI project
fastapi>=0.101.1
uvicorn>=0.23.1
Jinja2>=3.1.2
-e .
